footer

	.lockup
		.logo {% include icons/logo.html %}

		.content-wrap
			
			nav
				a(href="") About Me
				a(href="") Work
				a(href="") Clients
				a(href="") Contact

			p.copyright All content copyright 2016